/* Elegant Aero */
/* From http://www.sanwebe.com/2013/10/css-html-form-styles */
.elegant-aero {
  /*	margin:0px;padding:0px;*/
  box-shadow: 10px 10px 5px #888888;
  border: 1px solid #000000;
  -moz-border-radius-bottomleft: 9px;
  -webkit-border-bottom-left-radius: 9px;
  border-bottom-left-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  -webkit-border-bottom-right-radius: 9px;
  border-bottom-right-radius: 9px;
  -moz-border-radius-topright: 9px;
  -webkit-border-top-right-radius: 9px;
  border-top-right-radius: 9px;
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-left-radius: 9px;
  border-top-left-radius: 9px;
}
.elegant-aero h1 {
  font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 10px 10px 10px 20px;
  display: block;
  background: #c0e1ff;
  border-bottom: 1px solid #b8ddff;
  margin: -20px -20px 15px;
}
.elegant-aero h1 > span {
  display: block;
  font-size: 11px;
}

.elegant-aero label > span {
  float: left;
  margin-top: 10px;
  color: #5e5e5e;
}
.elegant-aero label {
  display: block;
  margin: 0px 0px 5px;
}
.elegant-aero label > span {
  float: left;
  width: 50%;
  text-align: right;
  padding-right: 15px;
  margin-top: 10px;
  font-weight: bold;
}
.elegant-aero input[type="text"],
.elegant-aero input[type="email"],
.elegant-aero textarea,
.elegant-aero select {
  color: #888;
  width: 30%;
  padding: 0px 0px 0px 5px;
  border: 1px solid #c5e2ff;
  background: #fbfbfb;
  outline: 0;
  -webkit-box-shadow: inset 0px 1px 6px #ecf3f5;
  box-shadow: inset 0px 1px 6px #ecf3f5;
  font: 200 12px/25px Arial, Helvetica, sans-serif;
  height: 30px;
  line-height: 15px;
  margin: 2px 6px 16px 0px;
}
.elegant-aero textarea {
  height: 100px;
  padding: 5px 0px 0px 5px;
  width: 70%;
}
.elegant-aero select {
  background: #fbfbfb;
  background: #fbfbfb;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  width: 70%;
}
.elegant-aero .button {
  padding: 10px 30px 10px 30px;
  background: #66c1e4;
  border: none;
  color: #fff;
  box-shadow: 1px 1px 1px #4c6e91;
  -webkit-box-shadow: 1px 1px 1px #4c6e91;
  -moz-box-shadow: 1px 1px 1px #4c6e91;
  text-shadow: 1px 1px 1px #5079a3;
}
.elegant-aero .button:hover {
  background: #3eb1dd;
}
