# Holds secrets and other key variables for the application
# To use, copy to .env, which is ignored by git

# To use with our application, use `uv run --env-file .env ...`

HBASE_AUTH='PUT SECRET HERE'
