/* The following style is copy/pasted from Scrollama documentation 
https://pudding.cool/process/introducing-scrollama/ */

#intro h1 {
  color: #000;
  /* font-weight: 900; */
  font-size: 9em;
  text-transform: uppercase;
  /* letter-spacing: 0.05em;
  line-height: 0.9em; */
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#intro h2 {
  color: #000;
  /* font-weight: 900; */
  font-size: 2em;
  /* letter-spacing: 0.05em;
  line-height: 0.05em; */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#intro h3 {
  color: #000;
  /* font-weight: 900; */
  font-size: 1em;
  /* letter-spacing: 0.05em;
  line-height: 0.05em; */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#intro p {
  padding-left: 100px;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
#intro li {
  font-family: Arial, Helvetica, sans-serif;
}
#intro ul {
  padding-left: 150px;
  width: fit-content;
  text-align: left; /* Keep the text/bullet relationship normal */
  padding-right: 40px; /* Optional: Balance the left padding so it looks perfectly centered */
}

img {
  max-width: 10%; /* Ensures the image doesn't exceed the div's width */
  height: auto; /* Maintains the image's aspect ratio */
  object-fit: contain; /* Removes extra space below the image */
}

span.female {
  color: #d03e84;
}

span.male {
  color: #4269dd;
}

#scroll {
  position: relative;
}
.scroll__graphic {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scroll__graphic.is-fixed {
  position: fixed;
}

.scroll__graphic.is-bottom {
  bottom: 0;
  top: auto;
}
.scroll__graphic .chart1 {
  position: absolute;
  right: 1rem;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.scroll__graphic .chart2 {
  position: absolute;
  right: 1rem;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.scroll__graphic .chart3 {
  position: absolute;
  right: 1rem;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.scroll__graphic .chart4 {
  position: absolute;
  right: 1rem;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.scroll__text {
  padding: 0 1rem;
  max-width: 30rem;
}

.step {
  opacity: 0;
  padding: 1rem;
}

.step.is-active {
  opacity: 1;
}
